<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/detail_product.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3><%= product.ProductName %></h3>
        <ul class="menu-item">
            <li><a href="/products">Products</a></li>
            <li><%= product.ProductName %></li>
        </ul>
    </div>
    <div class="product-container">
        <div class="product-content">
            <div class="product-img col-md-6">
                <img src="<%= product.ProductImage %>" alt="">
                <div class="sub-img"></div>
            </div>
            <div class="product-information col-md-6">
                <div class="star" style="color: #ff7f50">
                    <h3>Assess: <%= product.Value %>/5</h3>
                </div>
                <p class="description"><%= product.Description %></p>
                <h4>Available In Stock: <span style="color: #5cb85c;"><%= product.Quantity %> items</span></h4>
                <div class="product-size">
                    <p>Size:</p>
                    <select name="size" id="size">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                    </select>
                </div>
                <div class="product-color">
                    <h4>Color:</h4>
                    <div class="color-item product-color-active" style="background: #ed0f0f;"></div>
                    <div class="color-item" style="background: #2aabd2;"></div>
                    <div class="color-item" style="background: #5cb85c;"></div>
                </div>
                <h2><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$<%= product.Price %></span><span style="color: #ed0f0f">$<%= product.PriceSale %></span></h2>
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-">
                    <input aria-label="quantity" class="input-qty" max="99" min="1" name="" type="number" value="1">
                    <input class="plus is-form" type="button" value="+">
                </div>
                <div>
                    <div class="buy-now">
                        <h3><a href="">BUY NOW</a></h3>
                    </div>
                    <div class="add-cart">
                        <h3><a href="">ADD TO CART</a></h3>
                    </div>
                </div>
                <div>
                    <div class="add-wishlist">
                        <a href="/wishlist"><i class="fa fa-heart"></i>
                            Add to wishlist</a>
                    </div>
                    <div class="share">
                        <a href=""><i class="fa fa-share-alt"></i>
                            Share with others</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-tab">
            <div class="tab">
                <div class="tab-nav description tab-nav-active"><h3>Description</h3></div>
                <div class="tab-nav attachments"><h3>Attachments</h3></div>
            </div>
            <div class="tab-content">
                <div class="description-content tab-active">
                    <div>
                        <h4>Brand:</h4>
                        <p><%= product.BrandName %></p>
                    </div>
                    <div>
                    <h4>Product's name:</h4>
                    <p><%= product.ProductName %></p>
                </div>
                    <div>
                        <h4>Description:</h4>
                        <p><%= product.Description %></p>
                    </div>
                    <div>
                        <h4>User Object:</h4>
                        <p><%= product.UserObject %></p>
                    </div>
                    <div>
                        <h4>Style:</h4>
                        <p><%= product.Style %></p>
                    </div>
                    <div>
                        <h4>Composition:</h4>
                        <p><%= product.Composition %></p>
                    </div>
                    <div>
                        <h4>Property:</h4>
                        <p><%= product.Property %></p>
                    </div>
                </div>
                <div class="attachments-content">
                    <p>DOWNLOAD Product Details
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="#" download="">Download (99.99KB)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-product">
        <h1 class="text-center" style="margin: 100px 0 100px"><u>You Might Also Like</u></h1>
        <div class="products">
            <div class="col-md-3">
                <a href="/products/detail-product?id=1"><img src="https://www.dangquangwatch.vn/upload/product/1622063159_kinhmatthoitrang27.jpg" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>4.5/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=1">Diamond D DM-T-29292-57/C5</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$142.68</span><span style="color: #ed0f0f">$128.41</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=1" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/products/detail-product?id=2"><img src="https://www.dangquangwatch.vn/upload/product/170964307_KINH-MAT-THOI-TRANG-21.jpg" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>4/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=2">DIAMOND D DM-29237-52/C22</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$142.01</span><span style="color: #ed0f0f">$114.50</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=2" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/products/detail-product?id=3"><img src="https://www.dangquangwatch.vn/upload/product/1287845525_kinhmatthoitrang26.jpg" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>4.5/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=3">Diamond D DM-T-29204-62/C22</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$140.99</span><span style="color: #ed0f0f">$129.09</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=3" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/products/detail-product?id=8"><img src="https://www.dangquangwatch.vn/upload/product/78221398_367285873_kinh-mat-chinh-hang33.jpg" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>4/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=8">PHILIPPE AUGUSTE PA555-001-O</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$154.88</span><span style="color: #ed0f0f">$114.50</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=8" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/products/detail-product?id=6"><img src="https://www.dangquangwatch.vn/upload/product/1567326006_kinh-mat-chinh-hang26.jpg" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>4.5/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=6">PHILIPPE AUGUSTE PA555-007-D</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$134.50</span><span style="color: #ed0f0f">$121.05</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=6" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/products/detail-product?id=9"><img src="https://cdn2.jomashop.com/media/catalog/product/cache/fde19e4197824625333be074956e7640/r/a/ray-ban-light-brown-aviator-sunglasses-rb3689-001t255-rb3689-001t255.jpg?width=546&height=546" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>5/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=9">RAY-BAN Light Brown Aviator Sunglasses RB3689 001/T255</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$191.99</span><span style="color: #ed0f0f">$119.99</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=9" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href="/products/detail-product?id=39"><img src="https://www.dangquangwatch.vn/upload/product/1798091143_1584434113_k%C3%ADnh-mk3.jpg" alt=""></a>
                <div class="evalue" style="color: #ff7f50">
                    <h4>5/5</h4>
                </div>
                <h4 class="prod-name"><a href="/products/detail-product?id=39">Michael Kors MK-6013F-3020/11(57CN)</a></h4>
                <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$199.99</span><span style="color: #ed0f0f">$129.53</span></h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart" title="Add to wishlish"></i></a>
                    <a href="/products/detail-product?id=39" title="Product information"><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
<script type="text/javascript" src="/js/detail_product.js"></script>
</body>
</html>