<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<%- include("header.ejs") %>
<div class="slide-show">
    <div class="khoi-slide">
        <div class="cac-slide">
            <div class="slide active">
                <a href="/men-glasses"><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_imageslider/views/img/sample-2.jpg" ></a>
                <div class="text">
                    <h1 class="">New Trending Goggles <br> For Men</h1>
                    <h4 style="display: inline-block">Up To 40% Off Best Selling At </h4><span><h4 style="display: inline-block;font-weight: 700;"> $151.00</h4></span>
                    <br><a href="/men-glasses"><p>Shop now</p></a>
                </div>
            </div>
            <div class="slide">
                <a href="/ladies-glasses"><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_imageslider/views/img/sample-1.jpg" ></a>
                <div class="text">
                    <h1>New Trending Goggles <br> For Women</h1>
                    <h4 style="display: inline-block">Up To 50% Off Best Selling At </h4><span><h4 style="display: inline-block;font-weight: 700;"> $151.00</h4></span>
                    <br><a href="/ladies-glasses"><p>Shop now</p></a>
                </div>
            </div>
        </div>
        <div class="nut-slide">
            <span id="btn-prev"><i class="fa fa-angle-double-left"></i></span>
            <span id="btn-next"><i class="fa fa-angle-double-right"></i></span>
        </div>
    </div>
</div>
<section class="section">
    <div>
        <div class="box" style="margin-bottom: 100px">
            <div class="left col-md-6">
                <div class="img-container">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/sub-banner-1.jpg" style="padding: 0" alt=""></a>
                </div>
                <h3>Sale Up To 30% Discount</h3>
                <h1>Matt Brown Sunglasses</h1>
                <a href="#"><p><u>Shop now</u></p></a>
            </div>
            <div class="right col-md-6">
                <div class="img-container">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/sub-banner-2.jpg" style="padding: 0" alt=""></a>
                </div>
                <h3>Sale Up To 20% Discount</h3>
                <h1>Black Polarized Sunglasses</h1>
                <a href="#"><p><u>Shop now</u></p></a>
            </div>
        </div>
        <div class="brand">
            <div class="col-md-2">
                <a href="/brand?brand=Diamond D"><img src="https://www.dangquangwatch.vn/view/pic/DiamondD.jpg" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/brand?brand=Philippe Auguste"><img src="https://www.dangquangwatch.vn/view/pic/PA.jpg" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/brand?brand=Ray Ban"><img src="https://www.dangquangwatch.vn/view/pic/rayban.jpg" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/brand?brand=Burberry"><img src="https://www.dangquangwatch.vn/view/pic/Burberry1.jpg" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/brand?brand=Prada"><img src="https://www.dangquangwatch.vn/view/pic/Prada.jpg" alt=""></a>
            </div>
            <div class="col-md-2">
                <a href="/brand?brand=Michael Kors"><img src="https://www.dangquangwatch.vn/view/pic/michaelkors.jpg" alt=""></a>
            </div>
        </div>
        <div class="new-products">
            <div style="margin: 100px 0 100px"><h1 class="text-center"><u>New Products</u></h1></div>
            <div class="products">
                <% for (var i=0; i<4; i++){ %>
                    <div class="col-md-3">
                        <a href="/products/detail-product?id=<%= data_prod_home[i].ID %>"><img src="<%= data_prod_home[i].ProductImage %>" alt=""></a>
                        <div class="evalue" style="color: #ff7f50">
                            <h4><%= data_prod_home[i].Value %>/10</h4>
                        </div>
                        <h4 class="prod-name"><a href="/products/detail-product?id=<%= data_prod_home[i].ID %>"><%= data_prod_home[i].ProductName %></a></h4>
                        <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$<%= data_prod_home[i].Price %></span><span style="color: #ed0f0f">$<%= data_prod_home[i].PriceSale %></span></h3>
                        <div class="outer">
                            <a href="/wishlist"><i class="fa fa-heart" title="Add to wishlish"></i></a>
                            <a href="/products/detail-product?id=<%= data_prod_home[i].ID %>" title="Product information"><i class="fa fa-eye"></i></a>
                            <a href="/shoppingcart"><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="banner">
            <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/offer-banner.jpg" alt="">
            <div class="text">
                <h1 style="font-weight: 900">Buy One, Get One Free <br> Prescription Lenses*</h1>
                <a href=""><p>Shop now</p></a>
            </div>
        </div>
        <div class="service">
            <div class="service-fourth col-md-3" style="border-right: 1px solid #dad5d5">
                <div class="col-md-2">
                    <i class="fa fa-ship" style="font-size: 30px; margin-left: -15px"></i>
                </div>
                <div class="col-md-10">
                    <h4 class="service-head">Worldwide Shipping</h4>
                    <h4 style="font-weight: 100">Order Above $100</h4>
                </div>
            </div>
            <div class="service-fourth col-md-3" style="border-right: 1px solid #dad5d5">
                <div class="col-md-2">
                    <i class="fa fa-database" style="font-size: 30px; margin-left: -15px"></i>
                </div>
                <div class="col-md-10">
                    <h4 class="service-head">Easy 30 Day Returns</h4>
                    <h4 style="font-weight: 100">Back Returns In 7 Days</h4>
                </div>
            </div>
            <div class="service-fourth col-md-3" style="border-right: 1px solid #dad5d5">
                <div class="col-md-2">
                    <i class="fa fa-reply" style="font-size: 30px; margin-left: -15px"></i>
                </div>
                <div class="col-md-10">
                    <h4 class="service-head">Money Back Guarantee</h4>
                    <h4 style="font-weight: 100">Guarantee With In 30 Days</h4>
                </div>
            </div>
            <div class="service-fourth col-md-3">
                <div class="col-md-2">
                    <i class="fa fa-phone-square" style="font-size: 30px; margin-left: -15px"></i>
                </div>
                <div class="col-md-10">
                    <h4 class="service-head">Easy Online Support</h4>
                    <h4 style="font-weight: 100">Any Time Support</h4>
                </div>
            </div>
        </div>
        <div class="featured-products">
            <div><h1 class="text-center" style="margin: 100px 0 100px"><u>Featured Products</u></h1></div>
            <div class="products">
                <% for (var i=5; i<9; i++){ %>
                    <div class="col-md-3">
                        <a href="/products/detail-product?id=<%= data_prod_home[i].ID %>"><img src="<%= data_prod_home[i].ProductImage %>" alt=""></a>
                        <div class="evalue" style="color: #ff7f50">
                            <h4><%= data_prod_home[i].Value %>/10</h4>
                        </div>
                        <h4 class="prod-name"><a href="/products/detail-product?id=<%= data_prod_home[i].ID %>"><%= data_prod_home[i].ProductName %></a></h4>
                        <h3><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$<%= data_prod_home[i].Price %></span><span style="color: #ed0f0f">$<%= data_prod_home[i].PriceSale %></span></h3>
                        <div class="outer">
                            <a href="/wishlist"><i class="fa fa-heart" title="Add to wishlish"></i></a>
                            <a href="/products/detail-product?id=<%= data_prod_home[i].ID %>" title="Product information"><i class="fa fa-eye"></i></a>
                            <a href="/shoppingcart"><i class="fa fa-shopping-bag" title="Add to cart"></i></a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="box" style="display: block;margin-top: 200px">
            <div class="left col-md-6">
                <div class="img-container">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/cms-banner-1.jpg" alt="" style="padding: 0"></a>
                </div>
                <h3>Sale Up To 25% Discount</h3>
                <h1>Trending Girls Sunglasses</h1>
                <a href="#"><p><u>Shop now</u></p></a>
            </div>
            <div class="right col-md-6">
                <div class="img-container">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/cms-banner-2.jpg" style="padding: 0" alt=""></a>
                </div>
                <h3>Sale Up To 35% Discount</h3>
                <h1>Rectangle Polarized Magnetic</h1>
                <a href="#"><p><u>Shop now</u></p></a>
            </div>
        </div>
        <div class="testimonial">
            <i class="fa fa-quote-left" style="display: flex;justify-content: center;font-size: 60px;color: #ed0f0f; padding: 50px"></i>
            <p id="testimonial-text" class="text-center">Be aggressive with an idea, problem, or mistake that you want to make right. If you don't have enough passion from the beginning, you'll never make it to the end.</p>
            <div class="text-center" style="padding-bottom: 100px">
                <div class="tes-thubnail tes-active" onclick="testimonial_text(testimonial_text_1)">
                    <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/user3.jpg" alt="">
                    <h4 >Smith Anderson</h4>
                    <p>Manager</p>
                </div>
                <div class="tes-thubnail" onclick="testimonial_text(testimonial_text_2)">
                    <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/user4.jpg" alt="">
                    <h4>Jenifer Stephen</h4>
                    <p>Supporter</p>
                </div>
                <div class="tes-thubnail" onclick="testimonial_text(testimonial_text_3)">
                    <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/user1.jpg" alt="">
                    <h4 >Mack Johnson</h4>
                    <p>Designer</p>
                </div>
                <div class="tes-thubnail"onclick="testimonial_text(testimonial_text_4)">
                    <img id="active-img4" src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/user2.jpg" alt="">
                    <h4>Patrick Goodman</h4>
                    <p>Development</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>